.crit{
	width: 600px;
	height:800px;
	border: 2px solid #eee;
	margin-left: 100px;

}
hr .break{
	width:600px;
	margin-top: 20px;
	margin-bottom: 20px;
}
div .large .sss{
	width:300px;
	height:300;
	border: 1px solid #eee
}